<div class="uk-section-default">
  <div class="uk-section uk-light uk-background-cover" 
        style="background-image: url(/public/assets/images/footer.jpg);
        background-repeat: no-repeat;background-position: center;">
      <div class="uk-container">

          <h3>ANFAL HYPER MARKET</h3>
          <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
              <div>
                  <p>&copy; 2020 All Right Reserved By <a href="http://codendebug.co">Code N Debug</a></p>
              </div>
              <div>
                  <p>Enrich your shopping Experience with us.</p>
              </div>
              <div>
                  <p>High quality products.</p>
              </div>
          </div>
      </div>
  </div>
</div>