<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/headers') %>
</head>
<body>
    <!-- header section --> 
    <%- include('partials/navbar', { isLoggedin: is_Loggedin, is_Admin: is_Admin, is_Manager: is_Manager }) %>
    
    <div class="uk-section uk-section-default">
        <div class="uk-container">
            <h1 style="text-align: center;">RESET PASSWORD</h1>
        </div>
    </div>
    <div class="uk-container">
        <div id="alertStatus" style="display: none;" class="uk-alert-primary" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p id="alertMessage">Form Messages.</p>
        </div>
    </div>
    <% if(message === true) { %>
        <script>
            let message = '<%=msg%>';
            M.toast({ html: message });
        </script>
    <% } %>
    <div class="uk-container" style="padding-left: 150px;">
        <form class="uk-form-horizontal uk-margin-large" method="POST" action="/forget">
            <div class="uk-margin">
                <p>Please enter your email</p>
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon="icon: mail"></span>
                    <input class="uk-input" id="email" type="email" name="user_mail">
                </div>
            </div>
            <input type="submit" class="uk-button uk-button-default" value="submit">
        </form>
    </div>

    <div class="uk-section uk-section-default">
        <div class="uk-container"></div>
    </div>

    <!-- footer section -->
    <%- include('partials/footer') %>
</body>
</html>